@import '../../../main.scss';

.App {
	height: 100vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	font-family: 'Poppins', sans-serif;
	background: rgb(2,16,115);
	background: radial-gradient(circle, rgba(2,16,115,1) 30%, rgba(112,123,180,1) 100%);
		.topGrid{
			position: absolute;
			top: -100px;
			left: 30px;
		}

		.bottomGrid{
			position: absolute;
			bottom: -10px;
			right: 20px;
		}

		.topGridRight{
			position: absolute;
			right: 0px;
			top: -153px;
			width: 300px;
		}
}

.base-container {
	width: 90%;
	@include flexCenter(column);

	.header {
		font-size: 24px;
		font-family: "Open Sans", sans-serif;
		color:$primary-blue;
		padding: 20px 20px 0 20px;

		h3{
			letter-spacing: 2px;
		}
		p{
			font-size: 14px;
			padding-top: 20px;
		}
	}
}


.base-container a{
	text-decoration: none;
	color:white
}

.base-container a:visited{
	color: white;
}

.bold-line{
	font-weight: 900;
	font-size:23px;
	color:#808CC6;
}

a.homeLink{
	color: $secondary-blue !important;
	font-weight: bold;
}

.base-container {
	.content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;

		.form {
			margin-top: 2em;
			@include flexCenter(column);
		}
	}
}

.base-container .content .form .form-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
	flex-direction: row;
		-webkit-box-align: start;
		-ms-flex-align: start;
	align-items: flex-start;
	width:340px;
	input[type=text]{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border-radius: 20px;
		border: 0;
		margin-bottom: 15%;
		color: #111;
		letter-spacing: 2px;
		text-align: center;
		line-height: 3;
		width: 100%;
		font-size: 15px;
		border:none;
		width:100%;
		box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
		background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3) );
	}
	::placeholder{
		color: white;
	}
	.form-group__password{
		background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3) );
		border-radius: 20px;
		border: 0;
		margin-bottom: 15%;
		align-items: center;
		border:none;
		width:100%;
		display: flex;

	i{
		color:rgb(2,16,115);
		cursor: pointer;
		&:hover{
			color:white
		}
	}

	input[type=text], input[type = password]{
		border:none;
		width:90%;
		background:none;
		line-height: 3;
		font-size: 15px;
		letter-spacing: 2px;
		color: #111;
		text-align: center;
		margin:0;
		box-shadow: none;

		}
	}
}

.text {
	font-size: 18px;
	font-weight: 500;
	color:$primary-blue;
}

.footer{
	@include flexCenter(column);
	.btn {
		font-size: 21px;
		padding: 10px 35px;
		box-sizing: border-box;
		border: 0;
		opacity: 0.8;
		background-color:$primary-blue;
		color: #fff;
		border-radius: 25px;
		transition: all 250ms ease-in-out;
		cursor: pointer;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		&:hover{
			background-color:$secondary-blue;
		}
	}
}

.forgotCreds{
	margin-top:10%;
}

.login {
	width: 45em;
	@include flexCenter(row);
	position: relative;
	z-index: 99;
}

.glassContainer {
	@include flexCenter(column);
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	  );
	border-radius: 20px;
	position: relative;
	height: 65%;
	z-index: 99;
	padding-top:0;
	padding-right:0;
	height: 510px;
	overflow: hidden;
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	width: 45em;
}

button.flipbtn{
	display: flex;
	align-self: flex-end;
	justify-content: flex-end;
	height: 20px;
	cursor: pointer;
	border-top-right-radius: 20px;
	transition: all 0.5s ease;
	background: transparent;
	border: none;
	color: #00148c;
	font-size: 0.8rem;
	font-weight: 600;
	letter-spacing: 2px;
}

.flipbtn:hover{
	color:#808CC6;
}

input#message.message-box{
	@include inputDeco;
	width: 100%;
	padding-top: 13px;
	color:$warning-red;
	font-size: 10px;
	font-weight: bold;
	@include flexCenter(row);
	text-align: center;
}

@media screen and (max-width:860px){
	.App .topGridRight{
		display: none;
	}
	.container{
		width:75%;
		height: 60%;
		display: flex;
		flex-direction: column;
	}

	.form-group-reg{
		display: flex;
		flex-direction: column;
	}

	.base-container .content .form .form-group{
		width:200px;
		input[type=text], input[type=password] {
			display: flex;
			width:100%
		}
	}

	.inner-container{
		display: flex;
		flex-direction: column-reverse;
	}

	.flipbtn {
		bottom:10%;
		width: 50%;
		height: 30%;
		flex-direction: row;
		right: 0;
		left:0;
		margin-left:25%;
	}

	.text{
	 	margin-bottom: 20px;
	}
}

@media screen and (max-width:425px){
	.App {
		.topGrid, .bottomGrid, .topGridRight{
			display: none;
		}

		.base-container .header h3{
			font-size: 1.4rem;
		}

		.glassContainer{
			margin:0 auto;
			width: 18em;
		}
	}

	.forgotCreds a{
		font-size: 0.8rem;

	}
}