
$primary-blue:#00148c;
$secondary-blue:#00146c;
$warning-red:#f53c32;

.App {
	background-image:url("../../../assets/images/NationalGridBg.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Open Sans", sans-serif;
}

.base-container {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.base-container .header {
	font-size: 24px;
	font-family: "Open Sans", sans-serif;
	color:$primary-blue;
}

.base-container .header h3{
	letter-spacing: 2px;
}

.base-container .header p{
	font-size: 14px;
	padding-top: 20px;
}

.base-container a{
	text-decoration: none;
}

a.homelink:visited{
	color: $secondary-blue;
	font-weight: bold;
}

a.homeLink{
	color: $secondary-blue;
	font-weight: bold;
}

.base-container .content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.base-container .content .form {
	margin-top: 2em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
		-webkit-box-align: center;
				-ms-flex-align: center;
						align-items: center;
}

.base-container .content .form .form-group {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
				-ms-flex-direction: row;
						flex-direction: row;
		-webkit-box-align: start;
				-ms-flex-align: start;
						align-items: flex-start;
						width:340px;

}

.form-row{
		padding: 4%;
}

.base-container .content .form .form-group input {
	background-color: transparent;
    border: 0;
    border-bottom: solid 2px $primary-blue;
    padding-bottom: 10px;
    color: #111;
	letter-spacing: 2px;
	line-height: 3;
	width:100%;
    font-size: 15px;
    transition: all 250ms ease-in-out;
}

.btn {
	font-size: 21px;
	padding: 15px 35px;
	box-sizing: border-box;
	margin-top:15px;
	border: 0;
	background-color:$primary-blue;
	color: #fff;
	border-radius: 25px;
	transition: all 250ms ease-in-out;
	cursor: pointer;
}

.footer{
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn:hover{
	background-color:$secondary-blue;
}

.forgotCreds{
		margin-top:10%;
	}

.login {
		width: 45em;
		height: 50em;
		min-height: 44em;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 99;
	}

.container {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
		border-radius: 4px;
		position: relative;
		z-index: 99;
		width: 90%;
		height: 65%;
		z-index: 99;
		padding: 17px 10px;
		transition: transform 200ms ease-in-out;
	}

.right-side {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 60%;
		background-color:$primary-blue;
		width: 100%;
		position: absolute;
		right: -34%;
		border-radius: 6px;
		z-index: 1;
		transition: all 400ms ease-in-out;
		cursor: pointer;
		box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);
	}

.right {
		right: -12%;
		align-items: flex-end;
	}

.right:hover{
		right: -14%;
		background-color:$secondary-blue;
	}

.left {
		right: 10%;
		align-items: flex-start;
	}

.left:hover {
		right: 12%;
		background-color: $secondary-blue;
	}

.text {
		font-size: 18px;
		font-weight: 500;
		color: #fff;
		margin-right: 1.6em;
		margin-left: 1.6em;
	}

input#message.message-box{
	border:none;
	width: 100%;
	padding-top: 20px;
	color:$warning-red;
	font-size: 10px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

@media screen and (max-width:768px){

	.container{
		width:75%;
		height: 60%;
		display: flex;
		flex-direction: column;
	}
.form-group-reg{
	display: flex;
	flex-direction: column;
}

	.base-container .content .form .form-group{
		width:200px;
	}



	.base-container .content .form .form-group input{
	display: flex;
	width:100%
	}

	.inner-container{
		display: flex;
		flex-direction: column-reverse;
	}

	.right-side {
		bottom:10%;
		width: 50%;
		height: 30%;
		flex-direction: row;
		right: 0;
		left:0;
		margin-left:25%;
	}

	.text{
	 margin-bottom: 20px;
	}

	.right:hover, .left:hover{
		bottom:8%;
	}

  .left {
		right: 0;
		bottom:10%;
		align-items: stretch;
	}

}
