@import '../../main.scss';

.containerProfile{
    background-image: linear-gradient(
135deg
 , #f5f7fa 0%, #c3cfe2 100%);

	max-width:100%;
	height: 100vh;
	margin: 0 auto;
	font-size: 2vw;
	box-sizing: border-box;
	@include flexCenter(column);

	h1{
		color:$primary-blue;
		letter-spacing: 3px;
		font-size: 1em;

	}
}

.signIn-creds{
	@include flexCenter(column);
	justify-content: space-evenly;
	padding:20px;
	font-size:4vh;
	background: radial-gradient(circle, rgba(229,235,243,1) 30%, rgba(161,179,209,1) 100%);
    box-shadow: inset 8px 7px 18px #e7e7e7, inset -9px -8px 15px #ffffff;
    width: 86%;
	height: 66%;
	border-radius: 50px;

		hr{
			width: 90%;
		}

		input{
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border-radius: 0;
			@include inputDeco;
			font-size: 1.5vw;
			padding:10px;
			width:100%;
			color:$primary-blue;
		}

		label{
			color:#808cc6;
			font-size: 2vh;
			font-weight: 600;
			letter-spacing: 2px;
		}
		select{
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border-radius: 0;
			@include inputDeco;
			border-bottom:$blue-border;
			border-radius: none;
		}

		.edit-btn{
			background-color:$primary-blue;
			color:#fff;
			font-size:1.5vh;
			border-radius:10px;
			padding:10px 20px;
			border: none;
			cursor: pointer;

			&:hover{
				background-color:#000f53;
			}
		}
}

.signIn-creds .signIn-cols{
	display: flex;
	width: 100%;
    justify-content: space-evenly;

}

.signIn-creds input[type="submit"]:first-child{
	color:$primary-green;
	font-weight: 600;
	font-size: 1.2vw;
	cursor: pointer;
	border:none;
 }

 .signIn-creds input[type="submit"]:last-child{
	 color:	$seconday-grey;
	 font-size: 1vw;
	 cursor: pointer;
	 border:none;
  }

.head, .profile-btns, .group-update{
	display: flex;
	justify-content: space-between;
}

.profile-group{
	border-radius: 20px;
	min-width: 350px;
	max-width: 350px;
	padding:20px;

	box-shadow: inset 5px 5px 9px #ced8e4, inset 1px 2px 3px #d6e0ee;

	//box-shadow: -1px 4px 3px 0 rgba(0, 0, 0, 0%), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.group-update input{
	@include inputDeco;
	border-bottom: 2px solid $background-grey;
	font-size: 1.2vw;

	&:focus{
		border-bottom: 2px solid $primary-green;
	}
}

.group-update.animated.slideInDown input[type="password"]:last-child{
	width:90%;
	font-size: 1vw;;
}


@media screen and (max-width:425px){
	.containerProfile{
		padding-top: 20%;
		h1{
			font-size:5vw;
			margin-bottom: 33px;
		}
	}

	.signIn-creds{
		font-size:3vw;

		.edit-btn{
			padding: 5px 10px;
			font-size:1vh;
		}
		label{
			font-size: 3vw;
		}
	}
	.signIn-creds {
		.signIn-cols{
		flex-flow: column !important;
		align-items: center;
	}
	.profile-group{
		max-width: 250px;
		min-width: 250px;
		padding:10px;
		margin-bottom:20px;
		 input{
			font-size: 1rem;
		}

	}

}

	.group-update {
		flex-wrap: wrap;
		@include flexCenter(column);

		input[type='submit']{
			border:none;
			font-size: 1rem !important;
		}
	}

}

@media screen and (max-width: 768px){
	.signIn-creds .signIn-cols {
		flex-flow: row;
		align-items: center;
	}
	.profile-group{
		max-width: 250px;
		min-width: 250px;
		padding:10px;
		margin-bottom:20px;
		 input{
			font-size: 1rem;
		}

	}
}

