$primary-blue:#00148c;
$secondary-blue:#00146c;
$highlight-blue:#00aff0;
$navlink-grey:#F4F5F7;

.navbar{
	width:100%;
	position:fixed;
	background-color:#fff;
	border-bottom: 2px solid $primary-blue;
	height: 3.5em;
	top:0;
	left:0;
	z-index: 500000;
}

.navbar-navigation{
	display: flex;
	height:100%;
	align-items: center;
	padding: 0 1rem;
}

.navbar-logo{
	flex-shrink: 0;
}
.spacer{
	flex: 1;
}
.navbar-items ul{
	list-style: none;
	margin:0;
	padding: 0;
	display: flex;
}

.navbar-items ul li{
	padding: 0 0.9rem;
	font-family: Helvetica,Helvetica,Arial,sans-serif;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 0.5px;
	position: relative;
	color:$primary-blue;

}

.navbar-items a{
	color:$primary-blue;
	text-decoration:none;
}

.navbar-items .home-links a::before{
	content: '';
	display: block;
	width: 0;
	height:4px;
	background: $highlight-blue;
	transition: width .3s;
}
.navbar-items .home-links a:hover::before{
	width: 100%;
	transition:width .3s;
}

.navbar-items li:hover .dropdown > li{
	display: block;
	padding: 15px;
	top:19px;
	align-content: flex-start;
	background-color:#fff;
	font-size: 13px;
}
.navbar-items li:hover > i.fa.fa-angle-down{
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
}

.navbar-items li:hover .dropdown > li:hover{
	background:$navlink-grey;
}

.dropdown li{
	display: none;
	position: relative;
}

.dropdown {
	position:absolute;
    display: flex;
	width: 100%;
	flex-direction: column;
}

.fa-user-circle:before {
	font-size:16px;
	padding: 3px;
}


@media(max-width:875px){
	.navbar-items ul li{
		padding: 0 0.8rem;
		font-size: 12px;
	}
}

@media(max-width:768px){
	.navbar-items{
		display: none;
	}
}

@media(min-width:769px){
	.navbartoggle-btn{
		display: none;

	}
}
