@import '../../../main.scss';

.App {
	text-align: center;
	@include flexCenter(row);
	font-family: "Open Sans", sans-serif;
}

.base-container{
	width: 100%;
	@include flexCenter(column);
			.header-reg{
				font-size:15px;
				padding-top:12px;
				letter-spacing: 2px;
				color:$primary-blue;
			}
}

.form-group-reg {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 70%;

	input[type=password],input[type=text], input[type=number],input[type=email]{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border-radius: 0;
		@include inputDeco;
		border-bottom: $blue-border;
		padding-bottom: 10px;
		color: #111;
		font-weight: dark;
		width: 80%;
		letter-spacing: 2px;
		margin-bottom: 35px;
		margin-right: 250px;
		font-size: 10px;
		transition: all 250ms ease-in-out;
	}
}

.btn-reg{
	font-size: 15px;
	padding: 9px 12px;
	border: 0;
	background-color:$primary-blue;
	color: #fff;
	border-radius: 15%;
	transition: all 250ms ease-in-out;
	cursor: pointer;
	margin-bottom:12px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

	&:hover{
		background-color: $secondary-blue;
	}
}


.form-row-reg select {
	@include inputDeco;
	color: #111;
	font-size: 1.4vh;
	background: none;
	letter-spacing: 2px;
	padding:5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-bottom:20px;
	font-size:1vw;
}

 @media screen and (max-width:768px){
	.form-row-reg{
		display: flex;
		flex-direction: column;
	}

	i.fas.fa-angle-down{
		float:right;
	}

	.form-group-reg input[type=password], .form-group-reg input[type=text], .form-group-reg input[type=number], .form-group-reg input[type=email]{
		margin-right:120px;
		font-size:1.5vw;
		font-weight: bolder;
	}

	.form-row-reg select{
		width:100%;
		font-size: 1.5vw;
		padding-bottom: 20px;
	}
 }
