@import '../../../main.scss';

.base-container{
	width: 90%;
	padding-bottom: 20px;
	@include flexCenter(column);
		.header-reg{
			font-size:15px;
			padding-top:12px;
			letter-spacing: 2px;
			color:$primary-blue;
		}
}

.form-group-reg {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly;

	.form-row-reg{
		width: 40%;
		align-items: center;
	}

	input[type=password],input[type=text], input[type=number],input[type=email]{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border-radius: 0;
		@include inputDeco;
		padding-bottom: 10px;
		font-weight: dark;
		width: 80%;
		letter-spacing: 2px;
		color: $primary-blue;
		margin-bottom: 35px;
		font-size: 10px;
		background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
		border-radius: 20px;
		padding: 10px 0 10px 0px;
		box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
		text-align: center;
	}
	::placeholder{
		color:white;
		font-weight: bolder;
	}
}
.form-row-reg__password{
	background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3) );
	border-radius: 20px;
	border: 0;
	align-items: center;
	border:none;
	display: flex;
	width: 80%;
    margin: 0 auto;
	justify-content: space-evenly;
	margin-bottom: 35px;

	i{
		color:rgb(2,16,115);
		cursor: pointer;
		font-size: 13px;
		&:hover{
			color:white
		}
	}

	input[type=text], input[type = password]{
		border:none;
		background:none;
		letter-spacing: 2px;
		font-size: 10px;
		color: $primary-blue;
		text-align: center;
		margin:0;
		box-shadow: none;
	}
}

.btn-reg{
	font-size: 15px;
	padding: 9px 12px;
	border: 0;
	background-color:$primary-blue;
	color: #fff;
	border-radius: 15%;
	transition: all 250ms ease-in-out;
	cursor: pointer;
	margin-bottom:12px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

	&:hover{
		background-color: $secondary-blue;
	}
}


.form-row-reg select {
	@include inputDeco;
	color: #111;
	font-size: 1.4vh;
	background: none;
	letter-spacing: 2px;
	padding:5px;
		-webkit-appearance: none;
		-moz-appearance: none;
	appearance: none;
	padding-bottom:20px;
	font-size:1vw;
}

 @media screen and (max-width:705px){
	.form-row-reg{
		display: flex;
		flex-direction: column;
	}

	i.fas.fa-angle-down{
		float:right;
	}

	.form-group-reg input[type=password], .form-group-reg input[type=text], .form-group-reg input[type=number], .form-group-reg input[type=email]{
		font-size:1.5vw;
		font-weight: bolder;
		width: 100%;
	}

	.form-row-reg select{
		width:100%;
		font-size: 1.5vw;
		padding-bottom: 20px;
	}
	.form-row-reg__password{
		margin:0;
		width: 100%;
		margin-bottom: 35px;
		i{
			font-size: 10px;
		}
	}
 }
