@import '../../../main.scss';

.toggle-btn{
	height: 24px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	background: transparent;
	width: 30px;
	border:none;
	cursor: pointer;
	padding:0;
	box-sizing:border-box;

	&:focus{
		outline:none;
	}

	.toggleBtn-line{
		width: 30px;
		height:2px;
		background: $primary-blue;
	}
}
