@import '../../../main.scss';

.side-drawer{
	background:#fff;
	box-shadow: 1px  0px 3px rgb(0,0,0);
	position:fixed;
	top:56px;
	right:0;
	width: 60%;
	max-width: 400px;
	z-index:200;
	transform: translateY(-200%);
	transition: transform 0.4s ease-in-out;

	ul{
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	li{
		text-align: center;
		font-family: Helvetica Neue,Helvetica,Arial Nova,Arial,sans-serif;
		font-weight: 700;
		padding:10px;
	}
	a {
		color: $primary-blue;
		text-decoration: none;
		font-size:1.0rem;
		letter-spacing: 0.5px;
	}

}

.side-drawer.open{
	transform:translateY(0);
}

.side-drawer ul :hover{
	background:$navlink-grey;
}

.dropdown-side li{
	display: none;
	position: relative;

	a{
		font-size: 1.9vh;
		color: #111;

		&:hover{
			color:$secondary-blue;
		}
	}
}

.side-drawer li:hover .dropdown-side > li{
	display: flex;
}

.side-drawer li:hover > i.fa.fa-angle-down{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}


@media(min-width:769px){
	.side-drawer{
		display: none;
	}
}
