
body{
    overflow-x: hidden;
}
.main-form{
    width: 50%;
    height: 60%;
    margin: 65px;
    padding: 30px;

}

.register-link{
    float: right;
    padding: 20px;
    margin-top: 10;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    background-color: white;
    width: 15%;
    text-align: center;
}

.main-form p{
    font-size:1.1rem;
    line-height:20px;
    padding:20px;
    color:#53565a;

}

.main-form h2{
 color: #00148c;
}

.inputFields{
    display: inline;
}

.main-form a, a:visited {
    color:#00148c;
    text-decoration: none;
}

.form-row{
    display: flex;
    justify-content: flex-start;
    padding: 2em;
}
.note{
    padding-top:5%;
    line-height: 35px;
}

.main-inputs{
    display: inline;
}

input[type="text"], input[type="password"]{
    background-color: transparent;
    border: 0;
    border-bottom: solid 2px #00148c;
    width: 45%;
    padding-bottom: 4px;
    color: #111;
    font-weight: dark;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 20px;
  }

  input[type="button"]{
    cursor: pointer;
    border-radius: 50px;
    padding: 15px 20px;
    text-align: center;
    font-size:1.5rem;
    letter-spacing: 4px;
    align-content: center;
    border: 2px solid #00148c;
  }

  input[type="button"]:hover{
      background-color:#F4F5F7;
  }

  .forgotCreds{
      letter-spacing: 2px;
      font-weight: bold;
  }
