@import '../../main';

.containerDashboard{
	background-color:$primary-grey;
	padding-top:8%;
	max-width:100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	font-size: 2vw;
	box-sizing: border-box;
}

/* Payment box */
.first-dash{
	background-color:$primary-blue;
	color:#fff;
	flex:1;
	margin:10px;
	border-radius:5px;

	.info{
		width: 100%;
		@include flexCenter(column);
		margin-top:10%;
		line-height:60px;

		button{
			padding: 20px 40px;
			border-radius: 15px;
			margin: 15px;
			font-size:1.6vw;
			color:$primary-blue;
			letter-spacing: 2px;
			cursor: pointer;

			&:hover{
				background-color:$primary-blue;
				color:#fff;
				border:$white-border 1px;
			}

		}

		button a{
			text-decoration: none;
		}

		p{
			font-size: 1.5vw;
		}

	}
}

.first-dash .account-info {
	display: flex;
	flex-direction: row;
}

.account-info h4{
   flex: 1;
   padding:10px;
   font-size: 1.1vw;

   &:last-child {
	flex: 0.6;
	}
}


/* Service address box */

.second-dash{
	flex:1;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
}

.second-dash-a{
	flex: 1;
	background-image: url('../../assets/images/houses.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	color:#fff;
	margin:10px;
	border-radius:5px;
	border:$blue-border;
	@include flexCenter(column);

	h3{
		text-align: center;
		letter-spacing: 3px;
		margin: 23px;
		font-size: 2.5vw;

		&.dash-title{
			text-shadow: -1px 0 #111, 0 1px #111, 1px 0 #111, 0 -1px #111;
		}

	}

	.info{
		background-color:$primary-grey;
		width:60%;
		padding:10px;
		border:$blue-border;
		margin-bottom: 23px;
		box-sizing: border-box;
	}

	label{
		text-align: center;
		display: block;
		line-height: 30px;
		color:$primary-blue;
	}

	span{
		font-weight: 200;
		font-size: 1.2vw;
	}

	button{
		padding: 10px 20px;
		border-radius: 10px;
		margin: 5px;
		font-size: 1.2vw;
		background-color:$primary-blue;
		color: #fff;
		letter-spacing: 2px;
		cursor: pointer;
		display: inline-block;
	}
}

.second-dash-a button:hover ,.second-dash-b button:hover{
	background-color: #fff;
	color: $primary-blue;
	border: $blue-border;
	text-decoration: none;
}

.meter-read {
	span{
		font-weight: 200;
	}

	label{
		color:$primary-blue;
		background-color:#fff;
		border: $blue-border;
		padding:10px;
		font-size: 1.2vw;
		font-weight: 600;
		margin-bottom:5px;
	}

}

/* update contact box */
.second-dash-b{
	flex:1;
	padding: 13px;
	background:linear-gradient(0deg,rgba(228, 225, 225, 0.3),rgba(0, 0, 0, 0.3)),url(../../assets/images/pattern.jpg);
	background-size:cover;
	margin:10px;
	border-radius:5px;
	border:$blue-border;
	@include flexCenter(column);
	box-sizing: border-box;

	h3{
		text-align: center;
		color:$primary-blue;
		letter-spacing: 2px;
		margin-bottom: 23px;
		font-size: 2.2vw;
	}
	img{
		border: 3px solid $primary-blue;
	}
	button{
		padding: 10px 20px;
		border-radius: 10px;
		margin: auto;
		font-size: 1.5vw;
		background-color:$primary-blue;
		color: #fff;
		letter-spacing: 2px;
		cursor: pointer;
		@include flexCenter(column);
	}
}



@media screen and (max-width:768px){
	.containerDashboard{
		margin-top:5%;
		flex-direction: column;
		font-size: 3vw;
	}

	.first-dash .info {
		h1{
			font-size: 8vw;
		}

		p{
			font-size: 2.2vw;
		}

		button{
			font-size:2vh;
			padding:10px 20px;
		}
	}

	.account-info h4{
		font-size: 2.1vw;
	 }
	 .second-dash-a h3.dash-title,.second-dash-b h3.dash-title{
		font-size: 5vw;

	}

	 .second-dash-a{
		button{
			font-size: 2.1vw;
			margin-bottom: 5%;
		 }
		 span{
			font-size: 2.1vw;
		 }
	}

	 .meter-read label{
		font-size: 2vw;
		margin-bottom: 5%;
	 }

	 .second-dash-b {
		h3{
			font-size: 3vw;

		}
		button{
			font-size: 2.1vw;
			margin-top: 5%;

		 }
	}

}
