@import '../../main';

.containerDashboard{
	background-color:$primary-grey;
	padding-top:8%;
	max-width:100%;
	margin: 0 auto;
	padding-bottom:50px;
	display: flex;
	font-size: 2vw;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

/* Payment box */
.first-dash{
	background: radial-gradient(circle, rgba(0,24,166,0.7749474789915967) 0%, rgba(9,8,121,1) 100%);
	color:#fff;
	flex:0.4;
	margin:10px;
	border-radius:20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;


	div {

			font-size: 0.7em;
			text-align: center;
			position: relative;
	}

	.info{
		width: 100%;
		@include flexCenter(column);

		line-height:60px;

		h1{
			font-size: 3em;
		}
		.zoomIn{
			animation-duration: 1.5s;
		}

		h4, p{
			font-size: 0.8em;
			color:#b5bcde;
		}

		span{
			font-weight: bold;
			color:white;
			font-size: 1.1em;
		}

		button {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			padding: 15px 30px;
			border-radius: 15px;
			margin: 15px;
			font-size:1.6vw;
			color:white;
			letter-spacing: 2px;
			border: none;
			cursor: pointer;
		    border-radius: 44px;
    		background: #26349F;
    		box-shadow: 5px 5px 15px #19236b, -5px -5px 15px #3345d3;

			&:hover{
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background-color:#171E8C;
				color:#fff;
				border:$white-border 1px;
			}

		}
	}
}

.first-dash {
   .account-info {
	flex-direction: column;
	display: flex;
   }
   .billing{
	display: flex;
    flex-direction: column;
    align-items: center;
	padding: 33px 21px 33px 21px;
    margin: 13px 20px 40px;
    border-radius: 11px;
	background: linear-gradient(152deg, rgba(95,106,167,1) 0%, rgba(9,8,121,1) 100%);
	box-shadow: inset 5px 5px 6px #050444, inset -5px -5px 6px #0d0cae;

	h4{
		align-self: center;
		margin-bottom: 20px;
		letter-spacing: 1.4px;
	}
	p{
		font-weight: 200;
	}
	span{
		color:#808CC6;
	}
   }
}

.account-info h4{
	padding:10px 10px 0 10px;
	font-size: 1.1vw;
	display: flex;
	color:#b5bcde;

	img{
		width:15px;
		height: 15px;
		margin-left: 5px;
	}
	span{
		margin-left: 5px;
		color:white
	}

	&:last-child {
		display: flex;
	}
}

/* Service address box */

.second-dash{
	flex:1;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
}

.second-dash-a{
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    background: #F0F0F1;
    box-shadow: inset -5px 5px 7px #b4b4b5, inset 5px -5px 7px #ffffff;
    flex: 1 1;
    padding: 20px;
    color: #111;
    margin: 10px;
    border-radius: 50px;
    background: white;
	@include flexCenter(column);

	h3{

		text-align: center;
		letter-spacing: 3px;
		margin: 23px;
		font-size: 2.5vw;

		&.dash-title{
			text-shadow: -1px 0 #111, 0 1px #111, 1px 0 #111, 0 -1px #111;
		}

	}

	.info{

		background-color:$primary-grey;
		width:60%;
		padding:10px;
		border:$blue-border;
		margin-bottom: 23px;
		box-sizing: border-box;
	}

	label{
		text-align: center;
		display: block;
		line-height: 30px;
		color:$primary-blue;
	}

	span{
		font-weight: 200;
		font-size: 1.2vw;
	}

	button{
		padding: 10px 20px;
		border-radius: 10px;
		margin: 5px;
		font-size: 1.2vw;
		background-color:$primary-blue;
		color: #fff;
		letter-spacing: 2px;
		cursor: pointer;
		display: inline-block;


	}

	select{
		border: none;
		background: linear-gradient(
	225deg
	 , #d8d8d9, #ffffff);
		box-shadow: -5px 5px 7px #b4b4b5, 5px -5px 7px #ffffff;
		padding: 4px 8px;
		border-radius: 20px;
		color:#0018a6;
	}
}

.second-dash-a button:hover ,.second-dash-b button:hover{
	background-color: #0018a6;


}

.meter-read {
	span{
		font-weight: 200;
	}

	label{
		color:$primary-blue;
		background-color:#fff;
		border: $blue-border;
		padding:10px;
		font-size: 1.2vw;
		font-weight: 600;
		margin-bottom:5px;
	}

}

/* update contact box */
.second-dash-b{
	flex:1;
	padding: 13px;
	background-size:cover;
	margin:10px;
	border-radius:20px;
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
	@include flexCenter(column);
	box-sizing: border-box;
	background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    box-shadow: inset -5px 5px 7px #b4b4b5, inset 5px -5px 7px #ffffff;


	h3{
		text-align: center;
		color:$primary-blue;
		letter-spacing: 2px;
		margin-bottom: 23px;
		font-size: 1.4vw;
		font-family: 'Poppins', sans-serif;
	}

	img{
		box-shadow: -4px 4px 9px 0px #b4b4b5, 5px -5px 7px #ffffff;
		border-radius: 20px;

	}
	.info{
		width: 250px;
		font-size: 0.7em;
		padding:20px;
		padding-bottom: 0;
		border-radius: 25px;
		background: linear-gradient(315deg, #ffffff, #dadde0);
		box-shadow: -2px -2px 9px 0px #acaeb1, 5px 5px 10px #ffffff;

		span{
			color: $primary-blue;
		}
		label{
			display: flex;
			justify-content: space-between;
			color:#808CC6;
		}
	}



	.info:last-child{
		display: flex;
    	flex-direction: column;
    	align-items: center;
		padding: 30px;
		border-radius: 10px;
		background-image: linear-gradient(135deg, #f5f7fa 30%, #c3cfe2 100%);
		box-shadow: inset 7px 7px 9px #c2c5c9, inset -7px -7px 9px #ffffff;

	   button{
		margin:20px;
		font-size: 0.6em;
	   }
	}

	button{
		margin:10px;
		padding: 10px 20px;
		border-radius: 10px;
		font-size: 0.5em;
		border: none;
		color: $primary-blue;
		letter-spacing: 2px;
		border-radius: 37px;
		background: linear-gradient(225deg, #d8d8d9, #ffffff);
		box-shadow:  -5px 5px 7px #b4b4b5,
             5px -5px 7px #ffffff;
		cursor: pointer;
		@include flexCenter(row);
		&:hover{
			background: #F6F6F6;
		}

		i{
			color:#808CC6;
			margin-left: 5px;
		}
	}



}

@media screen and (max-width:840px){
	.containerDashboard{
		margin-top:5%;
		flex-direction: column;
		font-size: 3vw;
	}

	.first-dash .info {
		h1{
			font-size: 8vw;
		}

		p{
			font-size: 2.2vw;
		}

		button{
			font-size:2.1vw;
			padding:10px 20px;
		}
	}

	.account-info h4{
		font-size: 2.1vw;
	 }
	 .second-dash-a h3.dash-title,.second-dash-b h3.dash-title{
		font-size: 5vw;

	}

	 .second-dash-a{
		button{
			font-size: 2.1vw;
			margin-bottom: 5%;
		 }
		 span{
			font-size: 2.1vw;
		 }
	}

	 .meter-read label{
		font-size: 2vw;
		margin-bottom: 5%;
	 }

	 div {
		 flex-direction: column;

	 }

	 .second-dash-b {
		h3{
			font-size: 3vw;

		}
		button{
			font-size: 2.1vw;
			margin-top: 5%;

		}
	}
}
