@import '../../main.scss';

.main-footer{
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:$primary-grey;
	text-align: center;

	a, a:visited{
		color:$primary-blue;
		text-decoration: none;
	}
}

