.main-footer{

    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    text-align: center;
    padding: 30px;
    line-height: 20px;
}

.main-footer a, a:visited{
    color:#00148c;
    text-decoration: none;
}
