@import '../../../main.scss';

.popup {
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	text-align: center;
    padding: 20px;
    position: absolute;
    letter-spacing: 2px;
    width: 60%;
    height: 300px;
    font-size: 2vh;
    bottom: 100px;
    border-radius: 49px;
	left:170px;
	background: rgb(245,246,250);
	line-height:2;
	border:1px solid $primary-blue;
	background: radial-gradient(circle, rgba(245,246,250,1) 0%, rgba(151,160,215,1) 45%, rgba(80,93,189,1) 100%);
    color: #fff;

	.popup-btns{
		display: flex;
		flex:1;
		margin: 20px;
		justify-content: space-evenly;

		button{

			display: flex;
			width: 100px;
			align-items: center;
			justify-content: space-evenly;
			padding: 5px;
			border-radius: 20px;
			color: #fff;
			margin-top: 20px;
			padding: 15px;
			box-sizing: border-box;
			font-size: 1em;
			cursor: pointer;
			border: none;


			&:first-child{
				background: $primary-green;
			}
			&:hover:first-child{
				background: $secondary-green;
			}
			&:last-child{
				background:#808cc6;
			}
			&:hover:last-child{
				background:$secondary-red;
			}
			i{
				margin-left: 10px;
			}
		}
	}
}


@media screen and (max-width:768px){
	.popup{
		height: auto;
		width: 100%;
		left: 0%;
		right: 0%;
		letter-spacing: 2px;

		.popup-btns button{
			margin: 10px;
		}

	}

}
