$primary-blue:#00148c;
$primary-green:#208807;
$secondary-green:#1a7006;
$warning-red:#f53c32;
$secondary-red:#e9170b;
$primary-grey:#f8f8f8;


.popup {
	box-sizing: border-box;
	padding:20px;
	position:absolute;
	letter-spacing: 2px;
	width:60%;
	height:300px;
	background-color:$primary-grey;
	border:2px solid $primary-blue;
	color:$primary-blue;
	font-size:3vh;
	bottom:100px;
	right:20%;
	left:20%;
	border-radius: 10px;
	transform: translate(-1%,20%);
}

.popup-btns{
	display: flex;
	flex:1;
	margin: 20px;
}

.popup-btns button{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:10px;
	border-radius: 10px;
	color:#fff;
	margin-top:20px;
	box-sizing: border-box;
	font-size:2vh;
	cursor: pointer;
}
.popup-btns button:first-child{
	background: $primary-green;
}

.popup-btns button:hover:first-child{
	background: $secondary-green;
}

.popup-btns button:last-child{
	background:$warning-red;
}

.popup-btns button:hover:last-child{
	background:$secondary-red;
}

@media screen and (max-width:768px){
	.popup{
		height: auto;
    width: 80%;
    left: 10%;
	right: 10%;
	letter-spacing: 2px;

	}

}
