@import '../../../main.scss';

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	display:flex;
	overflow-y: auto;
}

.modal-main {
	border-radius:10px;
	border:$blue-border;
	overflow-y: auto;
	position: absolute;
	background: white;
	width: 90%;
	height: auto;
	top:90%;
	left:50%;
	background-color:$primary-grey;
	transform: translate(-50%,-50%);

	input:focus{
		border-bottom: 2px solid $primary-green;

	}
	select:focus{
		box-shadow: 0 0 3pt 2pt $primary-green;
	}
}

.close-modal{
	padding:5px;
	font-size:20px;
	@include inputDeco;
	flex:1;
	@include flexCenter(column);
}

.modal-title {
	text-align: center;
	color:$primary-blue;
	font-size: 5vh;
}

.paymentSelect{
	@include inputDeco;
	font-size:4vh;
	border-bottom:$blue-border;
	border-radius: none;
	margin-top:8%;
}

.display-block {
	display: block;

}

.display-none {
	display: none;

}

.paymentMethod{
	text-align: center;

}
.enrollDirectPay{
	margin-top: 40px;
	display: flex;

	.enrollDirect{
		letter-spacing: 1px;
		@include flexCenter(column);
		flex:1;
		font-size:2vh;
		padding:15px;

		.itemsDirect {
			display: inline-block;
			padding-left: 30px;
			position: relative;
			cursor: pointer;
			user-select: none;
			font-size: 4vh;
			width:30%;
			text-align: center;
			color:$primary-blue;

			input {
				display: none;
			}

			.checkmark {
				margin-left: -10px;
				width: 45px;
				height: 45px;
				background:$background-grey;
				position: absolute;
				left: 0;
				top: 0;
				border-radius:5px;
			}
		}

	}
}

.itemsDirect .checkmark:hover{
background-color:$seconday-grey;

}

.itemsDirect input:checked+.checkmark {
	background-color: $primary-blue;
}

.itemsDirect input:checked+.checkmark:after {
	content: "";
	position: absolute;
	height: 4px;
	width: 9px;
	border-left: $white-border;
	border-bottom: $white-border;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}

.itemsDirect input:indeterminate+.checkmark:after {
	content: "";
	position: absolute;
	height: 0px;
	width: 9px;
	border-left: $white-border;
	border-bottom: $white-border;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(180deg);
	}

.paymentDate {
	margin-top: 40px;
	@include flexCenter(row);
	flex: 1;
	width: 100%;
	padding:20px;
	input{
		@include inputDeco;
		border-bottom:3px solid $primary-blue;
		padding:20px 40px;
		font-size: 3vh;
	}
}

.paymentAmount{
	display: flex;

	.payAmount{
		@include inputDeco;
		margin: 40px;
		flex:1;
		width:20%;
		flex-direction: column;
		align-items: center;
		font-size:3vh;
		@include flexCenter(row);


		select{
			border-bottom:$blue-border;
		}

		label{
			margin:5%;
		}

		input{
			text-align: center;
			@include inputDeco;
			margin-left:20px;
			font-size:4vh;
			border-bottom:$blue-border;

		}

	}
}


.paymentSummary{
	@include flexCenter(column);
	margin:50px;
	font-size:4vh;

	.finalPay{
		display: flex;
		flex-direction: column;


	}

	input{
		@include inputDeco;
		margin-bottom: 20px;
		font-size: 4vh;
		border-bottom: $blue-border;
		text-align: center;

	}
}

.paymentSubmit{
	margin-top:20px;
	@include flexCenter(row);
	width:50%;

	input{
		background-color:$primary-blue;
		padding:10px 20px;
		font-size:3.5vh;
		width:100%;
		color:#fff;
		border-radius: 30px;
		cursor: pointer;

		&:hover{
			border:3px solid $primary-blue;
			background-color:#fff;
			color:$primary-blue;
			}
	}

}

::-webkit-datetime-edit { padding: 1em; }
::-webkit-datetime-edit-text { color: #111; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: $primary-blue }
::-webkit-datetime-edit-day-field { color: $primary-blue}
::-webkit-datetime-edit-year-field { color: $primary-blue}
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: $primary-blue; color:#fff }

/* icons */
.fas.fa-money-bill-alt{
	margin-right: 10px;
}
i.fas.fa-calendar-alt, i.fas.fa-arrow-down{
	color:$primary-blue;
}


strong{
	color:#111;
}



@media screen and (max-width:768px){
	.modal{
		flex-direction: column;
	}
	.modal-main{
		width: 100%;
	}

	.enrollDirectPay .enrollDirect .itemsDirect{
		padding-left: 45px;

	}
	.paymentSelect{
		width: 90%;
		font-size: 4vw;

	}
	.paymentDate{
		display: flex;
		input{
			font-size: 4vw;
			width:50%;
		}
	}

	.paymentAmount{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;

	.payAmount{
		display: flex;
		width: 30%;
		flex-direction: column;
		flex: 1;
		margin: 0;

		label{
			margin:0;
			padding-bottom: 20px;
			font-size: 4vw;
		}
		input{
			width:100%;
		}
	}
}
	.paymentSummary input{
		margin: 20px;
	}
	.paymentSubmit{
		flex-direction: column;
		input{
			width:100%;
			font-size:2.5vh;
		}
	}

	.finalPay{
		font-size: 5vw;
	}


}
