@import '../../../main.scss';

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	display:flex;
	overflow-y: auto;
}

.modal-main {
	border-radius: 10px;
	position: absolute;
	background: white;
	width: 60%;
	height: auto;
	top: 13%;
	left: 20%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	font-family: 'Poppins', sans-serif;
	background: radial-gradient(circle, rgba(229,235,243,1) 30%, rgba(161,179,209,1) 100%);

	.modal-title{
		text-align: center;
		font-size: 1em;
		color:$primary-blue;
		letter-spacing: 1.3px;
	}

	input, select{
		text-align: center;
		border:none;
		background: none;
		border-bottom: 1px solid #808cc6;
		font-size: 1.3em;
		letter-spacing: 1.3px;
		color: #0f008c;
	}

	label{
		font-weight: bolder;
		font-size: 1em;
		color:$primary-blue;
	}

	input::-webkit-calendar-picker-indicator {
		filter: invert(0.5);
	}

	input:focus{
		border-bottom: 2px solid $primary-green;
	}

	select:focus{
		box-shadow: 0 0 3pt 2pt $primary-green;
	}
}

.close-modal{
	padding:5px;
	font-size:20px;
	width: 10%;
	align-self: flex-end;
	cursor: pointer;
	color:$primary-blue;
	@include inputDeco;

	i{
		display: flex;
		justify-content: flex-end;
		margin-right: 10px;
	}
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}

.paymentMethod, .enrollDirectPay, .paymentDate, .paymentAmount, .paymentSummary,.paymentSubmit{
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  margin: 50px 20px;
}

.enrollDirectPay{
	.enrollDirect{
		flex:0.5;
		color: #0f008c;

		.itemsDirect {
			font-size: 1rem;
			display: flex;

			input {
			width:25px;
			height: 25px;
			margin-left: 10px;
			}
		}
	}
}

.paymentAmount {
	.payAmount{
		flex: 0.5;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}

.paymentSummary{
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}

.paymentSubmit{
	margin-bottom: 10px;
	input{
		background: linear-gradient(152deg, rgba(95, 106, 167, 0.744135) 0%, rgba(9, 8, 121, 0.814163) 100%);
		padding: 10px 30px;
		color: white;
		border-radius: 50px;
		letter-spacing: 1.5px;
		font-weight: 700;
		cursor: pointer;
		box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

		&:hover{
			background: linear-gradient(152deg, rgba(95, 106, 167, 0.744135) 0%, rgba(9, 8, 121, 0.814163) 100%);
		}

	}
}

.notification-container{
	width: 420px !important;
}

@media screen and (max-width:425px){
	.modal-main{
		width: 100%;
		left:0;
			.modal-title{
				font-size: 3em;
			}
	}

	.enrollDirectPay{
		flex-direction: row;
	}

	.payAmount{
		flex-direction: row;
		padding-top: 44px;
		justify-content: center;
	}

	.paymentSummary > div{
		display: flex;
		flex-direction: row;
	}

	.paymentMethod, .enrollDirectPay, .paymentDate, .paymentAmount, .paymentSummary, .paymentSubmit{
		font-size: 0.5rem;
	}

	.paymentAmount{
		justify-content: space-between;
		.payAmount{
			flex:0.2;
			align-items: flex-end;
		}
	}
}
