/* variable colors*/
$primary-blue:#00148c;
$secondary-blue:#00146c;

$background-grey:#DCDCDC;
$primary-grey:#f8f8f8;
$seconday-grey:#808080;
$navlink-grey:#F4F5F7;

$primary-green:#208807;
$secondary-green:#1a7006;

$warning-red:#f53c32;
$secondary-red:#e9170b;


/* borders*/
$blue-border:2px solid $primary-blue;
$white-border:3px solid #fff;
